.full_container {
    background: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    align-self: center;
}

.admin_request_container h3 {
    font-weight: 700;
}

.admin_request_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    width: 100%;
}

.admin_requests {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.request_card {
    width: 100%;
    max-width: 600px;
}

.card_title {
    font-size: 1.1rem;
}

.request_card_date {
    font-size: 0.9rem;
}

.request_btns {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .full_container {
        width: 80%;
    }
    .admin_requests {
        flex-direction: row;
    }
}