.article_crud {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-top: 0;
}

.create_input {
    width: 100%;
    border-width: 0;
    margin-top: 15px;
    background-color: #fff;
    font-size: 1rem;
    padding: 5px;
    outline: none;
    font-weight: 500;
    margin: 15px 5px 0px;
}

.description_input {
    margin-bottom: 7px;
    height: 75px;
    font-size: 0.9rem;
    font-weight: normal !important;
    text-align: start;
    resize: none;
}

.description_input::placeholder {
    text-align: justify;
}

.buttons_container {
    width: 50%;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_img {
    font-weight: normal !important;
    width: 100%;
    border-width: 0;
    margin-top: 15px;
    background-color: #fff;
    font-size: 1rem;
    padding: 5px;
    outline: none;
    margin: 15px 5px 0px;
}

.header_img::placeholder {
    text-align: justify;
}

@media screen and (min-width: 768px) {
    .article-crud {
        width: 80%;
        padding: 20px;
    }
}